_build/
.env
.technote/
.tox/
venv/
.venv/

# SCons build artifacts
.sconsign.dblite
config.log
.sconf_temp
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
*Lib.py

# Built by sconsUtils
python/lsst/sitcom/tn177/version.py
bin/

# Pytest
tests/.tests
pytest_session.txt
.cache/
.pytest_cache
.coverage

# Jupyter notebook checkpoints
**/.ipynb_checkpoints
